<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Park Talk</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Rock+Salt&family=Teko:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./css/styles.css">
  <link rel="stylesheet" href="./css/jass.css">
</head>

<body class="app-background">
  <nav class="navbar navbar-expand-md navbar-light border-bottom border-dark border-2">
    <div class="d-flex justify-content-between align-items-center w-100">
      <a class="navbar-brand no-button px-4" href="/">Park Talk</a>
      <ul class="navbar-nav ml-auto flex-row">
        {{#if logged_in}}
          <li class="nav-item">
            <button class="btn btn-danger nav-link btn-text" id="logout">Logout</button>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link btn-log btn-text" href="/login">Login</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </nav>
  <main class="container container-fluid mt-5 d-flex justify-content-center align-items-center">
    <!-- Render the sub layout -->
    {{{ body }}}
  </main>
  <footer>
    
  </footer>
</div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="./js/logout.js"></script>
  {{/if}}
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</html>