<div class="row border border-dark border-2" style="min-height: 65vh;">
  <div class="text-center form-bg">
      <h2 class="fs-1">Comment Here!</h2>
      <p>Comments are what makes this app run! Please add a title, select a facility and write your comment about it. It's nice to be able to find reviews of parks and their facilities from people who have visited.
        With this, families can find the perfect parks for their needs. 
        Thank your for the feedback!
      </p>
    </div>
  <div class="col-md-6 form-bg">
    <form id="commentForm">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title">
      </div>
      <div class="mb-3">
        <label for="facility" class="form-label">Facilities</label>
        <select class="form-select" id="facility">
          <option selected>Please select from the menu</option>
          <option value="1">Baseball Field</option>
          <option value="2">Soccer Field</option>
          <option value="3">Basketball Court</option>
          <option value="4">Playground</option>
          <option value="other">Other</option>
        </select>
      </div>

      <div id="other-facility" class="mb-3 d-none">
        <label for="other-facility-input" class="form-label">Other Category</label>
        <input type="text" class="form-control" id="other-facility-input">
      </div>
    </form>
  </div>

  <div class="col-md-6 form-bg d-flex align-items-center">
    <div class="row">
      <div class="col-md-12">
        <textarea class="form-control" rows="15" id="commentTextarea" placeholder="Comment"></textarea>
      </div>
      <div class="col-md-12 mt-3">
        <div class="row">
          <div class="col">
            <button type="submit" class="btn btn-primary btn-text" id="submitBtn">Submit</button>
            <button type="button" class="btn btn-secondary btn-text">Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

