<!-- Search bar -->
<div class="d-flex flex-column align-items-center">
  <div class="search-container mb-3">
    <form class="form-inline my-2 my-lg-0" id="search-form">
      <input class="form-control mr-sm-2 expanded-search-input" type="search" placeholder="Enter park address" aria-label="Search" id="search-input">
      <button class="btn btn-outline-dark my-2 my-sm-0 btn-text" type="submit">Search</button>
    </form>
  </div>

  <div class="card border-dark border-2 text-center" style="max-width: 24rem;">
    <div class="card-header text-dark bg-secondary bg-opacity-50 welcome">Welcome to Park Talk!</div>
    <div class="card-body">
      <h5 class="card-title">Click the Login link at the top to login or sign up!</h5>
      <p class="card-text">This application helps you find the right park for you and your family. Search the address of the park of interest to see it on the map and get reviews of the facilities and utilities that the park has. See comments from others and be able to post your own comment to help others know more about what the park has to offer.</p>
    </div>
  </div>
</div>

<script src="./js/homepage.js"></script>