<!-- Search bar -->
<form class="form-inline my-2 my-lg-0" id="search-form">
  <input class="form-control mr-sm-2" type="search" placeholder="Enter park address" aria-label="Search" id="search-input">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
<div class="container-md d-flex justify-content-center align-items-center">
  <div class="card text-bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header">Welcome to Park Talk!</div>
    <div class="card-body">
      <h5 class="card-title">Click the Login link at the top to login or sign up</h5>
      <p class="card-text">This application helps you find the right park for you and your family. Search the address of the park of interest to see it on the map and get reviews of the facilities and utilities that the park has.
          See comments from others and be able to post your own comment to help others know more about what the park has to offer.
      </p>
    </div>
  </div>
</div>

<script src="./js/homepage.js"></script>
