<div class="row justify-content-center mb-5">
  <div class="col-md-6 form-bg">
    <h2 class="log-text">Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login" class="col-form-label">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login" class="col-form-label">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-text" type="submit">Login</button>
      </div>
    </form>
  </div>
  
<div class="col-md-6 form-bg su-form-spacing">
    <h2 class="log-text">Sign Up!</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup" class="col-form-label">Name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup" class="col-form-label">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup" class="col-form-label">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-text" type="submit">Sign Up!</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
