
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Rock Salt', cursive;
font-family: 'Teko', sans-serif;
*/

.app-background {
  background-image: url("/public/images/christian-chen-park-view.jpg");
}

.no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
  }
  
  .no-button:hover {
    color: #065b83;
    text-decoration: underline;
  }

  @media (max-width: 576px) {
    .navbar-nav {
      padding-top: 0.5rem;
      flex-direction: row;
    }
  }