
.navbar-brand, .welcome {
  font-family: 'Rock Salt', cursive;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Teko', sans-serif;
}

.btn-text, p, span, a, li, td, input[type="text"], textarea {
  font-family: 'Montserrat', sans-serif;
}

.username {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
label {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.log-text {
  font-family: 'Teko', sans-serif;
  font-size: 3rem;
}

.container {
  height: 85vh;
  overflow-y:auto;
}

.row {
  width: 100%;
}
.app-background {
  background-image: url("../images/christian-chen-park-view.jpg");
  background-size: cover;
}

.navbar {
  background-color:rgba(219, 213, 213, 0.8);
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 30px;
  text-decoration: none;
  transition-duration: 0.4s;
}
  
.no-button:hover {
  text-decoration:underline;  
}

.btn-log {
  font-size: 20px;
  text-decoration: none;
  color:black;
}

.btn-log:hover {
  text-decoration: underline;
}

.form-bg {
  background-color: rgba(219, 213, 213, 0.8);
}

.card {
  background-color: rgba(219, 213, 213, 0.8);
  max-width: 24rem;
}

.expanded-search-input {
  width: 60vw;
}

.search-container {
  margin-bottom: 10rem;
}

@media (max-width: 768px) {
  .container { 
    height:auto;
    padding-top: 3rem;
    flex-shrink: 1;
  }
  .su-form-spacing {
    margin-top: 3rem;
  }
}

@media (max-width: 576px) {
  .navbar-nav {
    padding-top: 0.5rem;
    flex-direction: row;
  }
  .container {
    flex-shrink: 1;
  }
}